apiversion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      lables:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: kadarinandhini/sample:t1 
          ports:
            - containerPort: 5000
